* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #34673f 0%);
  background: url("/imagem_fundo.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}